.LoginBg{
    background: url('bg_img.jpeg') no-repeat;
    background-size: cover;
    background-position: right center;
    height: 100vh;
    position: fixed;
}
.LoginBg img.logo{
    float: left;
    margin: 15px;
}
.loginDiv{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ededed;
    height: 100vh;
    color: #000;
    padding: 20vh 20px;
    font-size: 1rem !important;
}